.container {
  padding: 10px 10px 0 0;
}

.divider {
  margin-top: 5px;
  background: gray;
  height: 1.5px;
  width: 100vw;
  opacity: 0.3;
}

.icon {
  display: block;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}
