.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 30px;
}

.proofItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  padding: 0 30px;
}

.icon {
  display: block;
  width: 119px;
  height: 119px;
  margin: 0 auto;
}
